{% extends "website/base.html" %}

{% block body %}

<h1>Provee.me</h1>

<p class="lead">Proveeme es una plataforma web que facilita el proceso de cotización de productos.</p>

<p>Actualmente en una empresa, un encargado de cotizar productos debe invertir tiempo en buscar y comparar los precios del mismo producto con diferentes proveedores.</p>

<p>Entonces, a través de proveeme ya no es necesario eso, ese mismo encargado puede escribir qué quiere cotizar y automáticamente proveeme solicita una cotización a todos los proveedores que venden esos productos.
Y luego de unas horas, se puede obtener un listado ordenado de cotizaciones de ese producto.</p>

<p>Se elimina el tiempo y esfuerzo que antes se requería para cotizar. Se crean nuevas conexiones entre clientes y proveedores. Se crean nuevas ventas y se compran productos más económicos. Todos salimos ganando.</p>

{% endblock %}